// To get started, press Ctrl+Space (or Option+Esc) to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html


// ---------- Disable unused hardware ----------
/ {
	chosen {
		nordic,nus-uart = &uart20;
	};
};
&button0 {
	status = "disabled";
};
&button1 {
	status = "disabled";
};
&button2 {
	status = "disabled";
};
&button3 {
	status = "disabled";
};

&led0 {
	status = "disabled";
};
&led1 {
	status = "disabled";
};
&led2 {
	status = "disabled";
};
&led3 {
	status = "disabled";
};

&pwm_led1 {
	status = "disabled";
};

&adc {
	status = "disabled";
};

// &gpiote {
// 	status = "disabled";
// };

// TODO
&i2c20 {
	status = "disabled";
};

&i2c21 {
	status = "disabled";
};

&uart20 {
	status = "okay";
};

&uart30 {
	status = "disabled";
};

&ieee802154 {
	status = "okay";
};

&pwm20 {
	status = "disabled";
};

// &qspi {
// 	status = "disabled";
// };

&timer00 {
	status = "disabled";
};

&timer10 {
	status = "disabled";
};

&timer20 {
	status = "disabled";
};

// &usbd {
// 	status = "disabled";
// };

&spi20 {
	status = "disabled";
};

&i2s20 {
	status = "disabled";
};
&cpuapp_systick {
	status = "okay";
};

&nfct {
	status = "okay";
};

&comp {
	status = "okay";
};

&temp {
	status = "okay";
};

&spi00 {
	/delete-property/ cs-gpios;
};
/delete-node/ &{/pin-controller/spi00_default/group1/};
