// To get started, press Ctrl+Space (or Option+Esc) to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html


// ---------- Disable unused hardware ----------
&button0 {
	status = "disabled";
};
&button1 {
	status = "disabled";
};
&button2 {
	status = "disabled";
};
&button3 {
	status = "disabled";
};

&led0 {
	status = "disabled";
};
&led1 {
	status = "disabled";
};
&led2 {
	status = "disabled";
};
&led3 {
	status = "disabled";
};

&pwm_led1 {
	status = "disabled";
};

&adc {
	status = "disabled";
};

&i2c20 {
	status = "disabled";
};

&i2c21 {
	status = "disabled";
};

&uart20 {
	status = "disabled";
};

&uart30 {
	status = "disabled";
};

&ieee802154 {
	status = "disabled";
};

&pwm20 {
	status = "disabled";
};

&timer00 {
	status = "disabled";
};

&timer10 {
	status = "disabled";
};

&timer20 {
	status = "disabled";
};

&nfct {
    status = "disabled";
};

// ---------- Enable hardware ----------
&uicr {
    nfct-pins-as-gpios;
}; 

&gpio1 {
    status = "okay";
};

&gpio2 {
    status = "okay";
};

// ---------- Define GPIOs & Hardware used ----------
// SPI (SD CARD)
&spi20 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi20_default>;
    pinctrl-1 = <&spi20_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio1 6 GPIO_ACTIVE_LOW>; // SD_nCS
	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		mmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};
		spi-max-frequency = <24000000>;
	};
};

// I2s (microphone)
i2s_rxtx: &i2s20 {
	compatible = "nordic,nrf-i2s";
	status = "okay";
	pinctrl-0 = <&i2s20_default>;
	pinctrl-1 = <&i2s20_sleep>;
	pinctrl-names = "default", "sleep";
};


&pinctrl {

	// ----- pinctrl for PCA10156 board (nRF54L15-DK) -----
	// spi20_default: spi20_default {
    //     group1 {
    //         psels = <NRF_PSEL(SPIM_SCK,  1, 4)>,
    //                 <NRF_PSEL(SPIM_MOSI, 1, 3)>,
    //                 <NRF_PSEL(SPIM_MISO, 1, 5)>;
    //     };
    // };

    // spi20_sleep: spi20_sleep {
    //     group1 {
    //         psels = <NRF_PSEL(SPIM_SCK,  1, 4)>,
    //                 <NRF_PSEL(SPIM_MOSI, 1, 3)>,
    //                 <NRF_PSEL(SPIM_MISO, 1, 5)>;
    //         low-power-enable;
    //     };
    // };

	// ----- pinctrl for Monkey PCB -----
	spi20_default: spi20_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 3)>,
					<NRF_PSEL(SPIM_MISO, 1, 4)>,
					<NRF_PSEL(SPIM_MOSI, 1, 9)>;
        };
    };

    spi20_sleep: spi20_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 3)>,	// SD_SCK
                    <NRF_PSEL(SPIM_MISO, 1, 4)>,	// SD_MISO
					<NRF_PSEL(SPIM_MOSI, 1, 9)>;	// SD_MOSI
            low-power-enable;
        };
    };

	// ----- pinctrl for PCA10156 board (nRF54L15-DK) -----
	// i2s20_default: i2s20_default {
    //     group1 {
    //         psels = <NRF_PSEL(I2S_LRCK_M, 1, 11)>,
    //                 <NRF_PSEL(I2S_SCK_M, 1, 12)>,
    //                 <NRF_PSEL(I2S_SDOUT, 2, 0)>,
    //                 <NRF_PSEL(I2S_SDIN, 1, 13)>; 
                    
    //     };
    // };

	// i2s20_sleep: i2s20_sleep {
	// 	group1 {
    //         psels = <NRF_PSEL(I2S_LRCK_M, 1, 11)>,
    //                 <NRF_PSEL(I2S_SCK_M, 1, 12)>,
    //                 <NRF_PSEL(I2S_SDOUT, 2, 0)>,
    //                 <NRF_PSEL(I2S_SDIN, 1, 13)>; 
	// 		low-power-enable;
	// 	};
	// };

	// ----- pinctrl for Monkey PCB -----
	i2s20_default: i2s20_default {
        group1 {
            psels = <NRF_PSEL(I2S_LRCK_M, 1, 14)>,	// MIC_WS
                    <NRF_PSEL(I2S_SCK_M, 1, 2)>,	// MIC_SCK
                    <NRF_PSEL(I2S_SDIN, 1, 13)>; 	// MIC_SDIN
                    
        };
    };

	i2s20_sleep: i2s20_sleep {
		group1 {
            psels = <NRF_PSEL(I2S_LRCK_M, 1, 14)>,	// MIC_WS
                    <NRF_PSEL(I2S_SCK_M, 1, 2)>,	// MIC_SCK  (for data transfer)
                    <NRF_PSEL(I2S_SDIN, 1, 13)>; 	// MIC_SDIN
			low-power-enable;
		};
	};
};

/ {
	// Inputs
	monkey_inputs {
		compatible = "gpio-keys";
		
		// ----- pinctrl for PCA10156 board (nRF54L15-DK) -----
		// cd: cd_0 {
		// 	gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
		// 	label = "Card Detect";
		// };

		// lb: low_batt_0 {
		// 	gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		// 	label = "Low Batt status";
		// };

		// wake: wake_0 {
        //     gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
        //     label = "Mic Wake";
        // };

		// ----- pinctrl for Monkey PCB -----
		cd: cd_0 {
			gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;		// SD_CD
			label = "Card Detect";
		};

		lb: low_batt_0 {
			gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;	// LOW_BATT
			label = "Low Batt status";
		};

		wake: wake_0 {
            gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;	// MIC_WAKE
            label = "Mic Wake";
        };
	};

	// Outputs
	monkey_outputs {
		compatible = "gpio-leds";
		
		// ----- pinctrl for PCA10156 board (nRF54L15-DK) -----
		// bc: burn_collar_0 {
		// 	gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		// 	label = "Collar Burn Activator";
		// };

        // sd: sd_enable_0 {
        //     gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
        //     label = "SD Card Switch";
        // };

		// clk: clk_0 {
		// 	gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		// 	label = "Mic clock";
		// };

        // thsel: thsel_0 {
        //     gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
        //     label = "Mic THSEL";
        // };

		// mic: mic_enable_0 {
        //     gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
        //     label = "Mic Switch";
        // };

		// oe: mic_oe_0 {
        //     gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
        //     label = "Mic output enable";
        // };

		// ----- pinctrl for Monkey PCB -----
		bc: burn_collar_0 {
			gpios = <&gpio2 1 GPIO_ACTIVE_HIGH>;	// BURN
			label = "Collar Burn Activator";
		};

        sd: sd_enable_0 {
            gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;		// SD_EN
            label = "SD Card Switch";
        };

		clk: clk_0 {
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;	// MIC_CLK (for config)	
			label = "Mic clock";
		};

        thsel: thsel_0 {
            gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>;	// MIC_THSEL
            label = "Mic THSEL";
        };

		thseloe: thsel_oe_0 {
            gpios = <&gpio2 2 GPIO_ACTIVE_HIGH>;	// MIC_OE_THSEL
            label = "Mic THSEL output enable";
        };

		mic: mic_enable_0 {
            gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;	// MIC_EN
            label = "Mic Switch";
        };

		oe: mic_oe_0 {
            gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;	// MIC_OE
            label = "Mic output enable";
        };
	};

	aliases {
		cd0  = &cd;
		lb0  = &lb;
		bc0  = &bc;
		sd0  = &sd;
		clk0 = &clk;
        thsel0 = &thsel;
		thseloe0 = &thseloe;
        wake0 = &wake;
		mic0 = &mic;
		oe0 = &oe;
	};
};

/delete-node/ &{/pin-controller/spi00_default/group1/};

&spi00 {
    /delete-property/ cs-gpios;
    status = "disabled";
};
